:root{
  --vermelho:#e50914;
  --preto: #141414;  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif; 
    color: white;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
}
header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}
/* evento hover, quando o mouse estiver encima do link faça*/
header nav a:hover{
   
    color: #fff;
    
}
/*flme princiaoal */
.filme-principal{
    font-size: 16px;
    color:whitesmoke;
    background: url('../img/capa.jpg');
    height: 600px;
    background-size: cover;
}